{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="test min-vh-100">
                <div class="block-draw d-flex justify-content-center">
                    <div class="entete me-3">
                        <h1 class="entete-text">bonjour, </h1>
                        <h2 class="entete-text d-flex">je suis <p class="name ms-2 fw-bold mb-0"> Xavier Nicodème</p>,</h2>
                        <h2 class="entete-text">développeur junior full-stack</h2>
                    </div>
                    <img src="{{ asset('build/images/drawbedy.png') }}" class="draw" alt="Draw Profile">
                </div>
            </div>
            <div id="projets" class="projets min-wh-100 mb-5 min-vh-100">
                <h2 class="projets-section text-center my-5">.mes projets</h2>
                <div class="d-flex flex-wrap col-10 mx-auto justify-content-center">
                    {% for projet in projets %}
                        <div class="col-3 mx-1 my-3">
                            <p>{{ projet.name }}</p>
                            <a href="{{ path('projet_show', {id: projet.id}) }}">
                                <img class="projet-img" src="{{ asset('build/images/' ~  projet.image) }}" alt="{{ projet.name }}"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="contact">
                <h2 class="contact-section text-center">.contact</h2>
                <div class="mt-5 col-6 mx-auto border p-4 mb-5">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <p class="copyright text-center mt-5"><i class="fas fa-copyright"></i> 2022 Xavier Nicodème</p>
        </div>
    </div>
{% endblock %}
