{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="test min-vh-100">
                <div class="block-draw d-flex justify-content-center">
                    <div class="entete me-3">
                        <h1 class="entete-text">bonjour, </h1>
                        <h2 class="entete-text d-flex">je suis <p class="name ms-2 fw-bold mb-0"> Xavier Nicodème</p>,</h2>
                        <h2 class="entete-text">développeur junior full-stack</h2>
                    </div>
                    <img src="{{ asset('build/images/drawbedy.png') }}" class="draw ms-3" alt="Draw Profile">
                </div>
            </div>
            <div id="projets" class="mb-5 mt-5">
                <h2 class="projets-section text-center">MES PROJETS</h2>
                <ul>
                {% for projet in projets %}
                    <li>{{ projet.name }}</li>
                    <li>{{ projet.description }}</li>
                    <li>{{ projet.link }}</li>
                    {% if projet.languages is not empty %}
                        <li> Construit avec :
                            <ul>
                            {% for language in projet.languages %}
                                <li>
                                    {{ language.name }}
                                    <img class="logo-language" src="{{ asset('build/images/' ~ language.logo) }}" alt="{{ language.name }}"/>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <p>Pas de langages utilisées</p>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div id="contact">
                <h2 class="contact-section text-center">CONTACT</h2>
            </div>
        </div>
    </div>

{% endblock %}
