{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
    <div class="projet-index container-fluid ">
        <div class="row">
            <div class="mt-5 min-vh-100 col-10 offset-1">
                <table class="mt-5 table">
                    <thead>
                        <tr>
                            <th class="col-2 text-center">Name</th>
                            <th class="col-3 text-center">Description</th>
                            <th class="col-2 text-center">Link</th>
                            <th class="col-1 text-center">IsGithub</th>
                            <th class="col-2 text-center">images</th>
                            <th class="col-1 text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for projet in projets %}
                        <tr>
                            <td>{{ projet.name }}</td>
                            <td>{{ projet.description }}</td>
                            <td>{{ projet.link }}</td>
                            <td>{{ projet.isGithub ? 'Yes' : 'No' }}</td>
                            <td>
                               <img class="img-projetindex" src="{{ asset('build/images/' ~ projet.image) }}" alt="{{ projet.name }}"/>
                            </td>
                            <td>
                                <a href="{{ path('projet_show', {'id': projet.id}) }}">
                                    <button class="col-8 my-2 btn btn-primary">Voir</button>
                                </a>
                                <a href="{{ path('projet_edit', {'id': projet.id}) }}">
                                    <button class="col-8 my-2 btn btn-primary">Editer</button>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('projet_new') }}">
                    <button class="btn btn-primary">Ajoute un projet</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
