{% extends 'base.html.twig' %}

{% block title %}Projet | {{ projet.name }}{% endblock %}

{% block body %}
    <div class="projet-page container-fluid">
        <div class="row">
            <h1 class="show offset-3 col-9 text-dark">{{ projet.name }}</h1>
            <div class="projet-block col-12 d-flex flex-column mt-3 mb-5">
                <div class=" show-1 d-flex justify-content-center">
                    <img class="img-inprojet rounded" src="{{ asset('build/images/' ~ projet.image) }}" alt="{{ projet.name }}"/>
                </div>
                <div class="show-2 col-6 mx-auto">
                    <p class="show-3 small text-dark mt-3">{{ projet.isGithub ? 'Github' : 'Site' }}</p>
                    <h2 class="show-4 text-primary">Qu'est ce donc ?</h2>
                    <p class="show-5 text-dark my-3 pb-0 text-center">{{ projet.description }}</p>
                    <h2 class="show-6 text-dark">Langages utilisés :</h2>
                    <div class="show-7 col-12 d-flex mb-3">
                        <ul class="list-unstyled">
                            {% for language in projet.languages %}
                                <li>
                                   <div class="show-8 col-4 d-flex">
                                       <img class="logo my-2 ms-5 me-2" src="{{ asset('build/images/' ~ language.logo) }}"/>
                                       <p class="d-flex align-self-center" class="text-dark">{{ language.name }}
                                    </div>
                               </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a class="" href="{{ projet.link }} " target="_blank">
                        <button class="btn btn-primary">Voir le Projet</button>
                    </a>
                </div>
            </div>
            {% if app.user %}
                <div class="d-flex flex-column">
                    <a href="{{ path('projet_index') }}">
                        <button class="col-1 btn btn-primary ms-5">Retour</button>
                    </a>
                    <a href="{{ path('projet_edit', {'id': projet.id}) }}">
                        <button class="my-2 col-1 btn btn-primary ms-5">Editer</button>
                    </a>
                    {{ include('projet/_delete_form.html.twig') }}
                </div>
            {% endif %}
            </div>
    </div>
{% endblock %}
