<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid col-11 mx-auto">
        <a id="xavier" class="navbar-brand d-block text-primary" href="{{ asset('build/images/CVXavierNicodeme.pdf') }}" download="CVXavierNicodeme.pdf">xavier nicodème</a>
        <a id="cv" class="navbar-brand d-none text-primary" href="{{ asset('build/images/CVXavierNicodeme.pdf') }}" download="CVXavierNicodeme.pdf">télécharger mon cv</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('home') }}">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') ~ '#projets' }}">projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') ~ '#contact' }}">contact</a>
                </li>
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            plus
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="{{ path('projet_index') }}">projets</a></li>
                            <li><a class="dropdown-item" href="{{ path('language_index') }}">langages</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">deconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>